page-login {

.login-icon-label{
    margin-left: 20px;
    color:#2C4772 !important;
}
.login-btn {        
        background-color: #2C4772;
        background: #2C4772;
        width: 85%;
        height: 45px !important;
        margin-right: 3%;
        padding: 3%;
        margin: auto;
    }
    .e-color{

    }
    .title{
        font-weight: bold;
    }
}
