page-dashboard {
    .border{
        border: 1px solid #dedede;
    }
    .item-select .label-md{
    color: #000000;
    }
    .header{
        border-top:1px solid #dedede;
         border-bottom:2px solid #dedede;
         color:rgb(45, 80, 122);
         font-weight: bold;
         

    }
    .mail-icon {
	float: right;
	margin-right: 10px;
    font-size: 2.0em;
    font-weight: bold;
}
.radio{
    
    padding-left: 5px;
    vertical-align:top;
     color: rgb(150, 150, 150);
}
.e-row{
    border-bottom: 1px solid #dedede;
}
.e-checkbox{
    float: right;
    margin: -14px 0 10px
}
.e-heading{
    background-color:rgb(247, 247, 247);
    border: 1px solid #dedede;
    color:rgb(45, 80, 122);
    
    // font-weight: bold;
    font-size: 2.0rem;
}
.e-body{
    border: 1px solid #dedede;
}
.e-border-right{    
    border-right: 1px solid #dedede;
}
.e-border-bottom{
     border-bottom: 1px solid #dedede;
}
.e-border-left{
     border-left: 1px solid #dedede;
}
.add-row-btn{
    border-width: 0 !important;
}
.arrow{
        font-size: 4rem;
    /* vertical-align: middle; */
    margin-right: 15px;
}
.m-left-5{
    margin-left: 5px;
}
.m-right-5{
    margin-right: 5px;
}
.no-border div.item-inner{
    border-bottom: 0 !important;
}
.e-dimensional-value{
    color: rgb(226, 166, 26);
}
.font-1-8{
color:rgb(45, 80, 122);
font-size:1.8rem;
}
.no-carrier{
   color: rgb(150, 150, 150);
}
.toolbar-md-primary .toolbar-background-md{
    background: linear-gradient(to right,rgb(13, 32, 54) ,rgb(66, 129, 206));
}

.odd{
background-color: rgb(255, 255, 255);
}
.even{
    background-color: rgb(235,244,255);
}
.e-box-shadow{
    box-shadow: 0 5px 5px -5px #333;
}
.modal-wrapper{
        width:300px;
        height:50%;
    }

.chart-wrapper {
    width: 95%;
    display: inline-block;
    // margin: auto;
    // margin: 0em 0.5em;
}
   .list-md{
    margin: 1px 20px 16px;
}
canvas  {
      height: 300px;
   }
   .no-padding{
       padding:0 !important;
   }
   .clear{
       clear:both;
   }
   .font-2-5{
       font-size: 2.5rem;
       font-weight: bold;
       color:rgb(45, 80, 122);
   }
   .file-upload{
        color:rgb(45, 80, 122);
        font-weight: 500;
   }
   .download-pdf {
	float: right;
	margin-right: 20px;
    font-size: 2.0em;
    
}

.c-list{
    
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 5px;
    padding:5px 0px 5px;
    width:21.5%;
}

.c-label{
    background-color: #fff;
    border-radius: 3px;
}
.square-box{
    display: inline;
}
.e-opacity{
    opacity: 0.0;
}
}

