<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton color="primary">
    <ion-title>
      <img src="assets/imgs/logo.png" style="height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;" />
      <span style="font-weight: bold;
    margin-right: 20px;
    font-size: 1.2em;">ERICSSON</span>TRANSPORT DIMENSION TOOL</ion-title>
    <ion-icon color="light" class="logout-icon" name="log-out" (click)="logout()" style="float: right;
    margin-right: 20px;"></ion-icon>
    <ion-icon color="light" class="mail-icon" name="mail" (click)="sendMail()"></ion-icon>
    <ion-icon color="light" class="download-pdf" name="download" (click)="downloadPdf()"></ion-icon>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-grid>
          <ion-row>
            <ion-col col-12 class="no-padding">
              <ion-grid class="no-padding">
                <ion-row class="e-heading ">
                  <ion-col>
                    <ion-label style="white-space:normal">Baseline
                      <div class="float-right">Total
                        <span class="e-dimensional-value">{{ cb }}</span>
                      </div>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <div class="e-body">
                  <ion-row>
                    <ion-col>
                      <div>
                        <div class="float-left font-1-8">Load Configuration</div>
                        <ion-list class="float-right" radio-group [(ngModel)]="config" (ionChange)="onOperatorChange($event)">
                          <ion-radio value="A" checked></ion-radio>
                          <span class="radio">Option A</span>
                          <ion-radio value="B"></ion-radio>
                          <span class="radio">Option B</span>
                          <ion-radio value="C"></ion-radio>
                          <span class="radio">Option C</span>
                          <ion-radio value="M"></ion-radio>
                          <span class="radio">Manual</span>
                        </ion-list>
                      </div>


                    </ion-col>
                  </ion-row>
                  <div class="m-left-5 no-carrier">Total Number of Carriers {{carrier}}</div>
                  <ion-row class="header center-text">

                    <ion-col>
                      <ion-label>No Of Carrier/Site</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>Ch BW(MHz)
                        <br/>Carrier</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>MIMO</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>QAM</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>No.Of Radios</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>Edit</ion-label>
                    </ion-col>
                    <ion-col>
                      <ion-label>Capacity</ion-label>
                    </ion-col>
                  </ion-row>
                  <div *ngIf="config">
                    <div *ngFor="let item of selectedCarrierList; let i = index;">
                      <ion-row class="e-row center-text" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
                        <ion-col align-self-center>
                          <!-- <ion-label>{{baseline['name_'+item]}}</ion-label> -->
                          <ion-input type="text" [(ngModel)]="baseline['name_'+item]" (input)="onBaselineChange(baseline['name_'+item],'name_',item,$event.target.value)"></ion-input>

                        </ion-col>
                        <ion-col align-self-center>
                          <select [(ngModel)]="baseline['chCapacity_'+item]" (change)="onBaselineChange(baseline['chCapacity_'+item],'chCapacity_',item)">
                            <option *ngFor="let channel of channelCapacityList" value="{{channel.value}}">{{channel.name}}</option>
                          </select>
                        </ion-col>

                        <ion-col align-self-center>
                          <select [(ngModel)]="baseline['mimo_'+item]" (change)="onBaselineChange(baseline['mimo_'+item],'mimo_',item)">
                            <option *ngFor="let mimo of mimoList" value="{{mimo.value}}">{{mimo.name}}</option>
                          </select>
                        </ion-col>

                        <ion-col align-self-center>
                          <select [(ngModel)]="baseline['qam_'+item]" (change)="onBaselineChange(baseline['qam_'+item],'qam_',item)">
                            <option *ngFor="let qam of qamList" value="{{qam.value}}">{{qam.name}}</option>
                          </select>
                        </ion-col>

                        <ion-col align-self-center>
                          <select [(ngModel)]="baseline['nCells_'+item]" (change)="onBaselineChange(baseline['nCells_'+item],'nCells_',item)">
                            <option *ngFor="let cell of nCellsList" value="{{cell.value}}">{{cell.name}}</option>
                          </select>
                        </ion-col>

                        <ion-col align-self-center>
                          <!--<ion-icon name="create" (click)="presentPrompt(item,'baseline')"></ion-icon>-->
                          <ion-icon name="create" (click)="advanceEdit(item,'baseline')"></ion-icon>

                        </ion-col>
                        <ion-col align-self-center>
                          <ion-label>{{baseline['ca_'+item] }}Mbps</ion-label>
                        </ion-col>
                      </ion-row>
                    </div>
                  </div>
                  <ion-row>

                    <button class="add-row-btn" ion-button full outline (click)="addRow('Baseline')">
                      <ion-icon class="m-right-5" name="add"></ion-icon>Add New Carrier</button>

                  </ion-row>
                </div>
              </ion-grid>

            </ion-col>


          </ion-row>
          <div class="clear">&nbsp;</div>
          <ion-row>

            <ion-col col-12 class="no-padding">
              <ion-grid class="no-padding">
                <ion-row class="e-heading">
                  <ion-col>
                    <ion-label style="white-space:normal">Evolution
                      <div class="float-right">Total
                        <span class="e-dimensional-value">{{ techCb }}</span>
                      </div>
                    </ion-label>
                  </ion-col>
                </ion-row>

                <ion-row class="e-border-right e-border-left">
                  <ion-col>
                    <div class="font-1-8">Technology Add</div>
                    <div class="e-checkbox">
                      <span *ngFor="let techn of technologyList">
                        <ion-checkbox [(ngModel)]="techn.checked" (click)="selectedTechnology(techn)"></ion-checkbox>
                        <span class="radio">{{techn.name}}</span>
                      </span>
                    </div>
                  </ion-col>
                </ion-row>
                <div class="e-body">
                  <div *ngFor="let t of selectedTechnologies">
                    <ion-row class="e-border-bottom e-box-shadow">
                      <ion-label class="m-left-5 font-1-8">{{t.name}} (
                        <span class="e-dimensional-value">{{ technology['ca_'+t.shortname] }}</span>)</ion-label>
                      <ion-icon color="primary" class="float-right arrow" name="{{t.icon}}" (click)="hideShowTechnology(t)"></ion-icon>
                    </ion-row>
                    <div *ngIf="t.icon == 'md-arrow-dropup'">
                      <ion-row class="e-border-bottom no-carrier">
                        <ion-label class="m-left-5">Total Number of Carriers {{t.carrier}}</ion-label>
                      </ion-row>

                      <ion-row class="header center-text">
                        <ion-col>
                          <ion-label>No Of Carrier/Site</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label>Ch BW(MHz)
                            <br/>Carrier</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label>MIMO</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label>QAM</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label>No.Of Radios</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label>Edit</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label>Capacity</ion-label>
                        </ion-col>
                      </ion-row>
                      <div *ngFor="let item of t.carrierList; let i = index;">
                        <ion-row class="e-row center-text" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
                          <ion-col align-self-center>
                            <ion-label>{{item}}</ion-label>
                          </ion-col>
                          <ion-col align-self-center>
                            <select [(ngModel)]="technology['chCapacity_'+item+'_'+t.shortname]" (change)="onEvoluationChange(technology['chCapacity_'+item+'_'+t.shortname],'chCapacity_',item,t.shortname)">
                              <option *ngFor="let channel of channelCapacityList" value="{{channel.value}}">{{channel.name}}</option>
                            </select>
                          </ion-col>

                          <ion-col align-self-center>
                            <select [(ngModel)]="technology['mimo_'+item+'_'+t.shortname]" (change)="onEvoluationChange(technology['mimo_'+item+'_'+t.shortname],'mimo_',item,t.shortname)">
                              <option *ngFor="let mimo of mimoList" value="{{mimo.value}}">{{mimo.name}}</option>
                            </select>
                          </ion-col>

                          <ion-col align-self-center>
                            <select [(ngModel)]="technology['qam_'+item+'_'+t.shortname]" (change)="onEvoluationChange(technology['qam_'+item+'_'+t.shortname],'qam_',item,t.shortname)">
                              <option *ngFor="let qam of qamList" value="{{qam.value}}">{{qam.name}}</option>
                            </select>
                          </ion-col>

                          <ion-col align-self-center>
                            <select [(ngModel)]="technology['nCells_'+item+'_'+t.shortname]" (change)="onEvoluationChange(technology['nCells_'+item+'_'+t.shortname],'nCells_',item,t.shortname)">
                              <option *ngFor="let cell of nCellsList" value="{{cell.value}}">{{cell.name}}</option>
                            </select>
                          </ion-col>

                          <ion-col align-self-center>
                            <ion-icon name="create" (click)="advanceEdit(item,t.shortname)"></ion-icon>
                          </ion-col>
                          <ion-col align-self-center>
                            <ion-label>{{technology['ca_'+item+'_'+t.shortname] }}Mbps</ion-label>
                          </ion-col>
                        </ion-row>
                      </div>
                      <ion-row class="e-border-bottom">

                        <button class="add-row-btn" ion-button full outline (click)="addRow('Evolution',t.name)">
                          <ion-icon class="m-right-5" name="add"></ion-icon>Add New Carrier</button>

                      </ion-row>
                    </div>
                  </div>
                </div>
              </ion-grid>


            </ion-col>
          </ion-row>
          <div class="clear">&nbsp;</div>
          <ion-row>

            <ion-col col-12 class="no-padding">
              <ion-grid class="no-padding">
                <ion-row class="e-heading">
                  <ion-col>
                    <ion-label>Bulk Upload

                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row class="e-border-right e-border-left e-border-bottom">
                  <ion-col>
                    <ion-item class="no-border">
                      <ion-label class="file-upload" id="profile_image" color="primary" stacked style="font-size:1.6rem;">Select File</ion-label>
                      <ion-input class="file-upload" color="primary" type="file" (change)="upload_file($event)"></ion-input>
                      <!--<ion-icon name="camera"></ion-icon>-->
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row class="e-border-bottom e-border-right e-border-left">
                  <button class="add-row-btn" ion-button full outline (click)="download_file()">
                    <ion-icon class="m-right-5" name="download"></ion-icon>Download</button>
                </ion-row>

                <div id="exportSquareChart">
                  <ion-row>
                    <ion-col class="border no-padding">
                      <ion-list>
                        <ion-item *ngFor="let row of formData;" class="no-border no-padding center-text">
                          <div *ngFor="let col of row;" class="c-list {{col.class}}">
                            {{col.name}}
                            <br/> No of Sectors - {{col.sectors}}
                            <br/> Channel BW - {{col.channelBw}}MHz
                            <br/> MIMO - {{col.mimo}}
                            <br/>
                            <span style="padding-bottom:5px;"> QAM - {{col.qam}}QAM</span>
                            <br/>
                            <span class="c-label"> {{col.ca}}Mbps </span>
                            <br/>
                          </div>
                        </ion-item>
                      </ion-list>
                    </ion-col>
                  </ion-row>
                </div>

              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-4>
        <div id="Html2Pdf">
          <ion-grid>
            <div id="exportStackedChart">
              <ion-row>
                <ion-col class="border">
                  <ion-label class="m-left-5 font-2-5" style="padding-bottom:40px">CSR Capacity
                    <span class="e-dimensional-value float-right">{{ TTPeakValue }}</span>
                  </ion-label>
                  <section class="chart-wrapper">
                    <canvas #stackedChart height="100"></canvas>
                  </section>
                </ion-col>
              </ion-row>
            </div>
            <div class="clear">&nbsp;</div>
            <div id="exportPieChart">
              <ion-row>
                <ion-col class="border">
                  <!--<ion-label class="m-left-5 font-1-8">CSR Capacity <span class="e-dimensional-value">{{ TTPeakValue }}</span></ion-label>-->
                  <section class="chart-wrapper">
                    <canvas id="pieChart" #pieChart></canvas>
                  </section>
                </ion-col>
              </ion-row>
            </div>
            <div class="clear">&nbsp;</div>
            <ion-row>
              <ion-col class="border">
                <!--<ion-label class="m-left-5 font-1-8">CSR Capacity <span class="e-dimensional-value">{{ TTPeakValue }}</span></ion-label>-->
                <section class="chart-wrapper">
                  <canvas #barChart></canvas>
                </section>
              </ion-col>
            </ion-row>
            <div class="clear">&nbsp;</div>
            <!--<div id="exportSquareChart">
  <ion-row>
    <ion-col class="border no-padding">
      <ion-list>
        <ion-item *ngFor="let row of formData;" class="no-border no-padding center-text">
          <div *ngFor="let col of row;" class="c-list {{col.class}}">
            {{col.name}} <br/> No of Sectors - {{col.sectors}}<br/> Channel BW - {{col.channelBw}}MHz <br/> MIMO - {{col.mimo}}
            <br/>
            <span style="padding-bottom:5px;"> QAM - {{col.qam}}QAM</span> <br/>
            <span class="c-label"> {{col.ca}}Mbps </span>
            <br/>
          </div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</div>-->




          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>