page-chart {
    .chart-wrapper {
      width: 80%;
      display: inline-block;
     // margin: auto;
      margin: 0em 0.5em;
   }
.list-md{
    margin: 1px 20px 16px;
}

   canvas  {
      height: 300px;
   }

.content-wrapper{
    // background-color: #2C4772;
    //background: linear-gradient(#2C4772, #2C4772, #2C4D78, #2C4D78, #2C4D78, #2C4D78, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-family: hilda;
}
.share-icon {
	float: right;
	margin-right: 10px;
    font-size: 2.0em;
    font-weight: bold;
}
.c-list{
    
    font-size: 0.8em;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
    padding:5px 0px 5px;
}


.item-inner,.item-block:first-child,.item-block:last-child{
    border-bottom:none !important; 
    border-top: none !important;
}
.c-label{
    background-color: #fff;
    border-radius: 3px;
}
}
