page-chart {
    .chart-wrapper {
      width: 80%;
      display: inline-block;
     // margin: auto;
      margin: 0em 0.5em;
   }
.list-md{
    margin: 1px 20px 16px;
}

   canvas  {
      height: 300px;
   }

.content-wrapper{
    // background-color: #2C4772;
    //background: linear-gradient(#2C4772, #2C4772, #2C4D78, #2C4D78, #2C4D78, #2C4D78, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-family: hilda;
}
.share-icon {
	float: right;
	margin-right: 10px;
    font-size: 2.0em;
    font-weight: bold;
}
.c-list{
    
    font-size: 0.8em;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
    padding:5px 0px 5px;
}
.c-1{
    background-color: #FFC939;
    // border: 1px solid FFC939;
}
.c-2{
    background-color: #F6702E;
}
.c-3{
    background-color: #F26762;
}
.c-4{
    background-color: #760C16;
}
.c-5{
    background-color: #EF3529;
}
.c-6{
    background-color: #CCCCFF;
}
.c-laa{
    background-color: #0072A8;
}
.c-smallCell{
    background-color: #438F9D;
}
.c-massiveMimo{
    background-color: #E91E63;
}
.c-fwa{
    background-color: #01673F;
}
.c-embb{
    background-color: #7030A2;
}
.c-manual{
    background-color: #28A745;
}

.item-inner,.item-block:first-child,.item-block:last-child{
    border-bottom:none !important; 
    border-top: none !important;
}
.c-label{
    background-color: #fff;
    border-radius: 3px;
}
}
